*{
  font-style: italic;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
   /* position: relative;  */
}

.container {
  /* position:absolute; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  /* margin: 0 auto; */

}

.container h1 {
  text-align:center;
}

.logo img {
  height: 40px;
  width: auto;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navigation li {
  margin-left: 15px;
}

.navigation li:first-child {
  margin-left: 0;
}

.navigation a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.navigation a:hover {
  background-color: #eee;
}

/* Form Styles */
.form-group {
  margin-bottom: 15px;
  width: 125%;
}
/* .form-group label {
  display: block;
  margin-bottom: 5px;
} */

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
  margin-left: auto;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0e0f0e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #526d53;
}
.radius{
  border-radius: 5px;
  border: outset;
}