<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking system</title>
    
    <link rel="stylesheet" href="style.css">
    <script src="index.js" async defer></script>
</head>
<body l>   
    <nav id="nav">
        <a href="/"><img src="kqlogo.png" alt="" class="logo" height="40px" width="80px" loading="lazy"></a>   
        <div id="menu">
            <ul>
                <li>About</li>
                <li>Guide</li>
                <li>Contact us</li>
            </ul>
        </div>
        <div id="theme">
          <div class="switch"></div>  
            <!-- <img src="hamburger1.png" alt="" height="40px" width="40px" loading="lazy"> -->
        </div>   
        
    </nav>
</header>
    <div class="banner">

    </div>

    <div id="maindiv">
        <div id="inquiryContainer"></div>
        <div id="landingtext">
            <p class="fade">
                Take off,<br>
                Explore the<br> 
                world with us.<br>
            </p>
            <div class="bookInquiry">
                <button id="bookflight">book now</button>
                <button id="inquiry">Inquiry</button>
            </div>
        </div>



        
    </div>
    
    <div id="date"></div>
</body>
</html>