<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Receipt</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h4>Flight receipt</h4>
    <div id="receiptBody">
        <p>Receipt Number: </p>
        <p class="receiptno"></p>
        <div>
            <h5>customer details</h5>
            <p>name: </p>
            <p class="name"></p><br>
            <p>email: </p>
            <p class="email"></p>         
        </div>
        <p class="dotted">........</p>
        <div>
            <h5>seat details</h5>
            <p>Class: </p>
            <p class="bookedclass"></p><br>
            <p>Seat Number: </p>
            <p class="seatno"></p>            
        </div>
        <p class="dotted">........</p>
        <div>
            <h5>payment details</h5>
            <p>Amount paid: </p>
            <p class="amt"></p><br>
            <p>Booking time: </p>
            <p class="time"></p>            
        </div>
    </div>
</body>
</html>